/* *{
    outline: 1px solid red;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    font-family: 'Roboto',sans-serif;
}
.header ,.title , .footer{
    background-color: #1f2937;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.about h2{
    color: #f9faf9;
    font-weight: 900;
    font-size: 48px;
    /* border: 3px solid blue; */
}
/* DONE : color,txt of hero para , hero link, footer copy */
.about p , a, .footer p{
    font-size: 18px;
    color: #e5e7eb;
}
.bluebox , button{
    background-color: #3882f6;
}
.info div {
    border: 2px solid #3882f6;
    width: 100px;
    height: 100px;
}
.random h3{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}
.txt{
    background-color: #e5e7eb;
}
.quote{
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}

/* alignment */
body{
    margin: 0;
 }

/* header done */
.header{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}
ul {
  display: flex;
  gap: 16px;
}
/* img */
.header img{
    width: 150px;
}
.links{
    padding: 0px 40px 80px 0px;
}

/* main content  */
.title{
    display: flex;
    /* align-items: center; */
    padding: 0px 200px 30px 200px;
    /* border: 3px solid rgb(6, 193, 240); */
    justify-content: space-between;

}
.imgplace{
    display: flex;
    /* width: 300px; */
    height: 250px;
}


/* website awsm */
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    gap: 1px;
    /* border: 3px solid orangered; */
}
.details,.about h2{
    margin: 0;
    /* border: 3px solid green; */
}
button{
    padding: 10px;
}


/* info */
.random{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid red; */
    padding: 30px;
}
.random h3{
    margin-top: 0px;
    /* flex: 1; */
}
.randominfo{
    display: flex;
    justify-content: space-evenly;
    /* border: 3px solid blue; */
    width: 800px;
    align-items: center;

}
.info{
    width: 100px;
}

/* quote */
.txt{
    display: flex;
    justify-content: center;
    padding: 100px;
}
.quote{
    width: 850px;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote p:first-child{
    margin: 0;
}
.quote .who{
    margin-bottom: 0;
    margin-top: 0;
}
.who {
    align-self: flex-end;
}

/* Action */
.signup{
    /* margin: 0; */
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
}
.bluebox{
    display: flex;
    justify-content: center;
    gap: 230px;
    align-items: center;
    width: 800px;
    padding: 25px;
}
.left h4 ,.left p{
    margin: 0;
}
.left p{
    margin-bottom: 6px;
}

/* footer */
.footer{
    display: flex;
    justify-content: center;
}

/* some btn changes */
button{
  border-radius: 8px;
  color: #f9faf9;
  border: none;
  width: 110px;
  font-weight: 700;
}

.right button{
    border: 2px solid #f9faf9;
}

/* some other boxes and color mathcing of fonts */
.info div{
    border-radius: 8px;
    border-width: 3px;

}
.bluebox{
    padding: 40px;
    border-radius: 6px;
}
.imgplace img{
    border-radius: 6px;
}
.left h4{
    color: #f9faf9;
}
.left p{
    color: #e5e7eb;
}
.quote p:first-child {
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}
.quote{
    border: 3px solid red;
}
.who{
    font-weight: 500;
    border: 2px solid red;
    font-size: 25px;
    margin-right: 40px;
}

.info p{
    color: rgb(109, 109, 109);
}

